 {%extends 'index1.html' %}{%block content%}{%load static%}
<br>
<br>
<br>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
 function enableButton(){
      document.getElementById("stopRecordingButton").disabled = false;
      document.getElementById("startRecordingButton").disabled = true;
      document.getElementById("status").innerHTML = "Recording";
      
 }
 function enableAll(){
      document.getElementById("status").innerHTML = "";
        document.getElementById("stopRecordingButton").disabled = true;
        document.getElementById("playButton").disabled = false;
        document.getElementById("downloadButton").disabled = false;
        document.getElementById("nextButton").disabled = false;
        document.getElementById("startRecordingButton").disabled = false;
      
 }
 </script>   
    <link href="{% static 'css/question-page.css' %}" rel="stylesheet">
<br>
<br>
<br>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Audio Recording</h4><span>Instructions: <span class="glyphicon glyphicon-record"  aria-hidden="true"></span> Start Recording <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop Recording <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download </span>
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h4 class="text-danger">Sentence:</h4>
                        <br>
                        <br>
                        <br>
                        <h5 class="mt-1 ml-2">{{object.sentence}}</h5>
                    </div>
                <p>
                Press <span class="glyphicon glyphicon-record"  aria-hidden="true"></span> when you are ready to record
                </p>
               <div class="row bg-light">
                <button type="button" id="startRecordingButton" onclick="enableButton()" class="btn " style="  margin-left:200px;  " aria-label="Left Align" data-toggle="tooltip" title="Start Recording">
                <span class="glyphicon glyphicon-record"  aria-hidden="true"></span>
                </button>
                 <p id="status" style="margin-top:20px;"></p>

                <button type="button"  id="stopRecordingButton" onclick="enableAll()" disabled class="btn " aria-label="Left Align" data-toggle="tooltip" title="Stop Recording">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </button>
                <button type="button"  id="playButton"  disabled class="btn " aria-label="Left Align" data-toggle="tooltip" title="Play">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button type="button" id="downloadButton"  disabled class="btn " aria-label="Left Align" data-toggle="tooltip" title="Download">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </button>
                  </div>
                <br>
                <div>
                 <form id="record_next_sentence" method="POST" action="{% url 'record_next_sentence' %}">
                                    {%csrf_token%}
                                    <input type="hidden" />
                                
                              <button class=" btn-outline-primary animated fadeInUp" style="  margin-left:200px;  width:20%;" id="nextButton"  onclick="nextAudio ()" disabled type="submit">Next Sentence<i class="fa fa-angle-right ml-2"></i></button></div>
          
                                </form>
                    </div>
                <br>
          
          
          </form>  
          
        </div>
    </div>
</div>
<br>
    <script>
        var startRecordingButton = document.getElementById("startRecordingButton");
        var stopRecordingButton = document.getElementById("stopRecordingButton");
        var playButton = document.getElementById("playButton");
        var downloadButton = document.getElementById("downloadButton");


        var leftchannel = [];
        var rightchannel = [];
        var recorder = null;
        var recordingLength = 0;
        var volume = null;
        var mediaStream = null;
        var sampleRate = 44100;
        var context = null;
        var blob = null;

        startRecordingButton.addEventListener("click", function () {
            // Initialize recorder
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
            navigator.getUserMedia(
            {
                audio: true
            },
            function (e) {
                console.log("user consent");

                // creates the audio context
                window.AudioContext = window.AudioContext || window.webkitAudioContext;
                context = new AudioContext();

                // creates an audio node from the microphone incoming stream
                mediaStream = context.createMediaStreamSource(e);

                // https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/createScriptProcessor
                // bufferSize: the onaudioprocess event is called when the buffer is full
                var bufferSize = 2048;
                var numberOfInputChannels = 2;
                var numberOfOutputChannels = 2;
                if (context.createScriptProcessor) {
                    recorder = context.createScriptProcessor(bufferSize, numberOfInputChannels, numberOfOutputChannels);
                } else {
                    recorder = context.createJavaScriptNode(bufferSize, numberOfInputChannels, numberOfOutputChannels);
                }

                recorder.onaudioprocess = function (e) {
                    leftchannel.push(new Float32Array(e.inputBuffer.getChannelData(0)));
                    rightchannel.push(new Float32Array(e.inputBuffer.getChannelData(1)));
                    recordingLength += bufferSize;
                }

                // we connect the recorder
                mediaStream.connect(recorder);
                recorder.connect(context.destination);
            },
                        function (e) {
                            console.error(e);
                        });
        });

        stopRecordingButton.addEventListener("click", function () {

            // stop recording
            recorder.disconnect(context.destination);
            mediaStream.disconnect(recorder);

            // we flat the left and right channels down
            // Float32Array[] => Float32Array
            var leftBuffer = flattenArray(leftchannel, recordingLength);
            var rightBuffer = flattenArray(rightchannel, recordingLength);
            // we interleave both channels together
            // [left[0],right[0],left[1],right[1],...]
            var interleaved = interleave(leftBuffer, rightBuffer);

            // we create our wav file
            var buffer = new ArrayBuffer(44 + interleaved.length * 2);
            var view = new DataView(buffer);

            // RIFF chunk descriptor
            writeUTFBytes(view, 0, 'RIFF');
            view.setUint32(4, 44 + interleaved.length * 2, true);
            writeUTFBytes(view, 8, 'WAVE');
            // FMT sub-chunk
            writeUTFBytes(view, 12, 'fmt ');
            view.setUint32(16, 16, true); // chunkSize
            view.setUint16(20, 1, true); // wFormatTag
            view.setUint16(22, 2, true); // wChannels: stereo (2 channels)
            view.setUint32(24, sampleRate, true); // dwSamplesPerSec
            view.setUint32(28, sampleRate * 4, true); // dwAvgBytesPerSec
            view.setUint16(32, 4, true); // wBlockAlign
            view.setUint16(34, 16, true); // wBitsPerSample
            // data sub-chunk
            writeUTFBytes(view, 36, 'data');
            view.setUint32(40, interleaved.length * 2, true);

            // write the PCM samples
            var index = 44;
            var volume = 1;
            for (var i = 0; i < interleaved.length; i++) {
                view.setInt16(index, interleaved[i] * (0x7FFF * volume), true);
                index += 2;
            }

            // our final blob
            blob = new Blob([view], { type: 'audio/wav' });
        });

        playButton.addEventListener("click", function () {
            if (blob == null) {
                return;
            }

            var url = window.URL.createObjectURL(blob);
            var audio = new Audio(url);
            audio.play();
        });

        downloadButton.addEventListener("click", function () {
            if (blob == null) {
                return;
            }
           
            var url = URL.createObjectURL(blob);

            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            a.href = url;
            a.download = "sample.wav";
            a.click();
            window.URL.revokeObjectURL(url);
        });

        function flattenArray(channelBuffer, recordingLength) {
            var result = new Float32Array(recordingLength);
            var offset = 0;
            for (var i = 0; i < channelBuffer.length; i++) {
                var buffer = channelBuffer[i];
                result.set(buffer, offset);
                offset += buffer.length;
            }
            return result;
        }

        function interleave(leftChannel, rightChannel) {
            var length = leftChannel.length + rightChannel.length;
            var result = new Float32Array(length);

            var inputIndex = 0;

            for (var index = 0; index < length;) {
                result[index++] = leftChannel[inputIndex];
                result[index++] = rightChannel[inputIndex];
                inputIndex++;
            }
            return result;
        }

        function writeUTFBytes(view, offset, string) {
            for (var i = 0; i < string.length; i++) {
                view.setUint8(offset + i, string.charCodeAt(i));
            }
        }
        function nextAudio()
        {
            var data = new FormData();
            var name="{{name}}"
            name=insert(name,name.length,".webm");
                            
             var myFile = new File([blob], name);
            data.append('recorded_audio', myFile);
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();

            data.append('csrfmiddlewaretoken', csrf);
            var oid= "{{object.id}}"
            data.append('oid',oid)
            $.ajax({
                url: "{% url 'next_audio' %}",
                method: 'POST',
                data:  data,
                processData: false,
                contentType: false
            });
    console.log("sucess")
        
        }
        function blobToFile(theBlob, fileName){
            //A Blob() is almost a File() - it's just missing the two properties below which we will add
            theBlob.lastModifiedDate = new Date();
            theBlob.name = fileName;
            return theBlob;
        }
         function insert(str, index, value) {
            return str.substr(0, index) + value + str.substr(index);
        }

    </script>
{% endblock %}