{%extends 'index.html' %} {%load static%}

{%block content%}
<!-- List group -->
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8 col-lg-8">
        <br><br><br><br><br>
            	<h2 class="wv-heading--subtitle justify-content-center" style="margin-left:200px;">
	No more Sentences
    </h2>
    <button style="margin-left:230px;">
    <h5 class="text-light"><a href="{%url 'home'%}"><span>Back to Home</span></a></h5>
</button>
    <br>
    <br><br><br><br><br><br><br>   
        </div>
    </div>
</div>
            
{% endblock %}