
 {%load static%}


<head>
 <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function insert(str, index, value) {
            return str.substr(0, index) + value + str.substr(index);
        }
        function GetSelectedText () {
            var words=[];
            var sentence = "{{object.sentence}}"
            console.log(sentence);
            var range=''
            if (window.getSelection) {  // all browsers, except IE before version 9
                range = window.getSelection ();                                        
                var storedNames = JSON.parse(localStorage.getItem("words"));
            if(sentence.includes(range.toString()) && range.toString()!='')
                {
                    words.push(range.toString());
                if(storedNames){
                    var i;
                    for(i=0;i<storedNames.length;i++){
                        words.push(storedNames[i]);
                    }
                }
                    localStorage.setItem("words", JSON.stringify(words));

                    
                console.log(words)
                    $('#myModal').modal('show')
                    $('<span style="font-weight:bold">' + range.toString() + '</span>').appendTo('#exampleModalLabel');
                    
                }
                else{
                    alert("Please select the word from the sentence")
                }
            }
            
            else {
                if (document.selection.createRange) { // Internet Explorer
                    range = document.selection.createRange ();
                    alert (range.text);
                    $('#myModal').modal(options)
                    
                
                }
            }
        }
        function GetSavedText (){
           
            var storedNames = JSON.parse(localStorage.getItem("words"));
            var storedLabels= JSON.parse(localStorage.getItem("labels"));
            var sentence= "{{object.sentence}}";
            localStorage.clear();  
            if(storedNames)
            {
                
                var i;
                for(i=0;i<storedNames.length;i++)
                {
                var firstword= storedNames[i];
                var firstlabel=storedLabels[i];
                var index= sentence.indexOf(firstword);
                index+= firstword.length
                firstlabel= insert(firstlabel,0,"<");
                firstlabel=insert(firstlabel,firstlabel.length,"> ");
                sentence= insert(sentence,index,firstlabel)

                }
                //
            }

            console.log(storedNames)
            console.log(storedLabels)
            console.log(sentence)
            var oid="{{object.id}}";
            console.log(oid)
            $.ajax({
                url: "{% url 'words' %}",
                type: "POST",
                dataType: "json",
                data: {
                    sentence: sentence,
                    oid:oid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                
            });
        }
        function GetSelectedLabels(){
                var labels=[];
                var radioSelect=$("input[name='labels']:checked").val();
                if(radioSelect)
                {
                var storedLabels = JSON.parse(localStorage.getItem("labels"));
                
                labels.push(radioSelect);
                if(storedLabels){
                  var i;
                  for(i=0;i<storedLabels.length;i++){
                    labels.push(storedLabels[i]);
                  }
                }
                localStorage.setItem("labels", JSON.stringify(labels));
                console.log(labels)
                }
                else{
                    var storedNames= JSON.parse(localStorage.getItem("words"));
                    storedNames.pop()
                    localStorage.setItem("words", JSON.stringify(storedNames));    
                    alert('Please select a label')
                }
        }
      </script>
       
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method="POST" action="{% url 'home' %}" >
  {% csrf_token %}
    <button class="btn btn-outline-success" type="submit">Home</button>
  </form>
</nav>

<div class="container">   
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Select the suitable Label<br/>Word(s) Selected: </h4>
        
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            
      <div class="modal-body">
          {%for label in labels.all%}
                    
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="labels" value="{{label.name}}"> <span>{{label.name}}</span>
                        </label>
                    </div>
                    {%endfor%}
                  
      </div>
      <div class="modal-footer">
       <button class=" btn btn-primary btn-success" id="modalNext" style="  margin-left:250px;  width:20%;" data-dismiss="modal" onclick="GetSelectedLabels ()">Next<i class="fa fa-angle-right ml-2"></i></button></div>
          
          
      </div>
    </div>
  </div>
</div>
</div>
<link href="{% static 'css/question-page.css' %}" rel="stylesheet">
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Words Labeling</h4><span style="color:blue">Instructions: Select Text/Word to Label it</span>
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h4 class="text-info">Sentence:</h4>
                        <br>
                        <br>
                        <br>
                        <h5 class="mt-1 ml-2" style="border-style:ridge;  border-bottom: 2px solid info;  border-top-style: none;border-left-style: none;border-right-style: none;">{{object.sentence}}</h5>
                    </div>
                    <br>

                    <div class="row">
                    </div>
                <br>
                <button class=" btn btn-primary btn-success" style="  margin-left:220px;  width:20%;" onclick="GetSelectedText ()" >Label Text<i class="fa fa-angle-right ml-2"></i></button></div>
                
                                <form id="next_sentence" method="POST" action="{% url 'next_sentence' %}">
                                    {%csrf_token%}
                                    <input type="hidden" />
                                
                                    <button  class="btn btn-success btn-lg" style="  margin-left:200px; margin-top:20px;  width:30%;" onclick="GetSavedText ()" type="submit" >Next Sentence<i class="fa fa-angle-right ml-2"></i></button></div>
                        
                                </form>
                  </div>
        </div>
    </div>
   
</div>
</body>
