{%extends 'index.html' %}{%block content%} {%load static%}


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animated fadeInDown">Welcome to <span id="logo1">AIM Lab</span></h2>
                    <p class="animated fadeInUp">AIM Lab is an initiative. by FAST university Islamabad and is run under the supervision of Dr.Omer Beg</p>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animated fadeInDown">Services </h2>
                    <p class="animated fadeInUp">Our Services include provding the research facilities on Artifical Intelligence and Natural Language Processing</p>
                    <a href="services.html" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animated fadeInDown">Women Empowerment</h2>
                    <p class="animated fadeInUp">Women Sitting at their homes can now join these training programs online and get started with their own sources of income.</p>
                </div>
            </div>


            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Services Section ======= -->
        
        <!-- ======= Facts Section ======= -->
        <section class="facts section-bg" data-aos="fade-up">
            <div class="container">
                <div class="section-title">
                    <h2>Facts</h2>
                </div>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">15,232</span>
                        <p>Overall Enrollments</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,463</span>
                        <p>Projects Done</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">521</span>
                        <p>Total Teachers</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">75</span>
                        <p>Distinguished Sponsors</p>
                    </div>

                </div>

            </div>
        </section>
        <!-- ======= Features Section ======= -->
        <section class="service-details">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'assets/img/service-details-1.jpg'%}" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Our Mission</a></h5>
                                <p class="card-text">AIM Labs  mission is to offer one million trainings to create strong workforce for a future shaped by the Fourth Industrial Wave, characterized by technology orientation, innovation and initiative. We can already see,
                                    in our economy and others, </p>
                                <div class="read-more"><a href="about.html"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'assets/img/service-details-3.jpg'%}" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">Our Vision</a></h5>
                                <p class="card-text">Increase Number of individuals working as freelancers in the country, Number of hours worked per freelancer, Earnings per hour or per project for freelancers, Household incomes, Financial inclusion
                                    IT exports ,Number of experts in specialized skills</p>
                                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Our Proud Developer</h2>
                </div>
                <div class="row">
                    <div class="col-md-8 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box icon-box-cyani">

                            <div class="card hovercard">
                                <div class="cardheader">

                                </div>
                                <div class="avatar">
                                    <img src="{% static 'assets/img/seoteacher.jpg'%}">
                                </div>
                                <div class="info">
                                    <div class="desc">Adnan Ahmad <br></div>

                                    <div class="title">
                                        <br> <br> <a target="_blank" href="https://www.linkedin.com/in/adnan-ahmad-6b2b3b166/">Web Developer| Django Guru| Computer Scientist </a>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <br> <a href="https://www.linkedin.com/in/adnan-ahmad-6b2b3b166/" class="btn-get-started animated fadeInUp">View Details</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </section>
        <!-- End Services Section -->

    </main>
    <!-- End #main -->

{%endblock%}